@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

/* @media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} */

body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: flex;
  padding-top: 60px;
  flex-direction: column;
  /* align-items: center; */
}
.icon {
  width: 34px;
}
h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
form {
  display: flex;
  flex-direction: column;
  width: 800px;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #009ce9;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #009ce9;
  border: none;
  border-radius: 4px;
  /* text-align: center; */
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #4682B4;
}

input[type="submit"]:focus {
  background-color: #7393B3;
}

#sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #009ce9;
  overflow-x: hidden;
  padding-top: 30px;
}

#sidebar a {
  padding: 24px 24px 12px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
} 

#sidebar a:hover {
  color: #D3D3D3;
}

#content {
  margin-left: 240px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
} 


.query {
  padding: 8px;
  margin: 25px;
  
  /* other styling */
  border-radius: 10px;
  font-family: Arial;
}

.table {
  padding: 8px;
  margin: 25px;
  
  /* other styling */
  border-radius: 10px;
  font-family: Arial;
}

.erd {
  padding: 8px;
  margin: 25px;
  border-radius: 10px;
}

/* CSS for the accordion */
/* .accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.accordion-header {
  padding: 10px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
  display: None;
}

/* Add CSS to toggle content visibility when the header is clicked */
/* .accordion-item.show-content .accordion-content {
  display: block; 
/* } */