{% extends 'base.html' %}

{% block content %}
  <!-- <body>
    <div class="accordion">
      {% for item in data %}
          <div class="accordion-item {% if item['expanded'] %}show-content{% endif %}">
              <div class="accordion-header" onclick="toggleAccordionContent(this)">{{ item['title'] }}</div>
              <div class="accordion-content">
                  {{ item['content'] }}
              </div>
          </div>
      {% endfor %}
  </div> -->

    <form action="/semantics" method="post">
      <label for="name">Metric Name:</label>
      <input type="text" name="name" placeholder="e.g. Profit, Average Fulfilment Time etc." required />
      <label for="table">Table:</label>
      <input type="text" name="table" placeholder="e.g. orders" required />
      <label for="calculation">Calculation (in SQL-like syntax):</label>
      <input type="text" name="calculation" placeholder="e.g. sum(quantity)*sum(price)" required />
      <label for="dimensions">Dimensions:</label>
      <input type="text" name="dimensions" placeholder="e.g. employees, customers etc." required />
      <input type="submit" value="Submit" />
    </form>
  </body>
{% endblock %}